{% comment %} {% comment %} <!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="img/logo/logo.png" rel="icon">
  <title>RuangAdmin - Login</title>
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/ruang-admin.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-login">
  <!-- Login Content -->
  <div class="container-login">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                  </div>
                  <form class="user"  method='POST'>
                    {% csrf_token %}
                    {{form}}
               
                 
 
                    <div class="form-group">
                     <input type="submit" value='Login' class="btn btn-primary btn-block">
                    </div>
                    <hr>
                    {% comment %} <a href="index.html" class="btn btn-google btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a> {% endcomment %}
                    {% comment %} <a href="index.html" class="btn btn-facebook btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a> {% endcomment %}
                  {% comment %} </form>
                  <hr> {% endcomment %}
                  {% comment %} <div class="text-center">
                    <a class="font-weight-bold small" href="register.html">Create an Account!</a>
                  </div> {% endcomment %}
                  {% comment %} <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Content -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/js/ruang-admin.min.js"></script>
</body>

</html>
 {% endcomment %} 






{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- Main CSS, then Sidebar CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">    
    
    <title>salamandsonsmills - Login</title>

</head>

<body>

<div class="align-middle" style="color: #607d8b; font-style: bold; font-size: 3rem;">Inventory Management System</div>
<!-- <div class="align-middle" style="color: #494949;">An Inventory Management System</div> -->
<br>

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        {% if user.is_authenticated %}
            
            <br><br>
            <h2 class="align-middle">You are already logged in, {{ request.user.username }}!</h2>
            <div class="border-top pt-3 align-middle"> <br>
                <a class="btn ghost-blue" href="{% url 'home' %}">Go back home</a> <br><br>
                <a class="btn ghost-red" href="{% url 'logout' %}">Log Out</a>
            </div>
        
        {% else %}

            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="align-middle" style="color:#494949;"><legend class="border-bottom mb-4">Please login to continue...</legend></div>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <div class="align-middle"> 
                            <button class="btn btn-outline-success btn-lg" type="submit">Log In</button>         
                            {# <button class="ml-2 btn btn-danger">Exit</button> #}
                        </div>
                    </div>
                </form>
            </div>
            

        {% endif %}

    </div>
</div>

    {% comment %} <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script> {% endcomment %}

</body>

</html>